@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: rgb(255, 255, 255);
  background-image:url("../img/unknown.png") ;
  background-size: cover;
  padding: 0mm;
}

h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin-top: 60px;
}

h2 {
  text-align: center;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 10px;
}

h3 {
  text-align: center;
}

/*Navbar*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background:	#12232e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  background-clip: border-box; /*This line removes 4 errors*/
}

.navbar__menu {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  box-sizing: border-box;
  margin: 19px 0px 19px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 20px;
}


.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #490b49;
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  
  background: linear-gradient(to left, #cc5333, #23074d); 
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  background-color: #203647;
  /*color: #18f4fc;*/
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.card{
  height: 4rem;
  width: 4rem;
  position:fixed ;
  top: 1rem;
  float: right;
}

.card__logo{
  height: 100%;
  /* width: 100%; */
  position: absolute;
  left: 55px;
  bottom: 5px;
  /* image-resolution: 100px 100px; */
  object-fit: cover;
  /* padding-bottom: 5px; */
}


/* */
a.home{
  color: white;
  font-size: large;
  padding-top: 4.6mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  
  background: linear-gradient(to left, #cc5333, #23074d); 
  border-color: white;
  border-width: 3mm;
  border-style: solid;
  position: relative;
  top: -18.4mm; 
  left: 55%;
  font-family: 'Dela Gothic One', cursive;
  text-decoration: none;
}

a.howTo{
  color: white;
  font-size: large;
  padding-top: 4.6mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: white;
  border-width: 3mm;
  border-style: solid;
  position: relative;
  top: -18.4mm; 
  left: 57%;
  font-family: 'Dela Gothic One', cursive;
  text-decoration: none;
}

a.gamesAndRules{
  color: white;
  font-size: large;
  padding-top: 4.6mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: white;
  border-width: 3mm;
  border-style: solid;
  position: relative;
  top: -18.4mm; 
  left: 59%;
  font-family: 'Dela Gothic One', cursive;
  text-decoration: none;
}

/*
.buttons button.button1{
  color: aliceblue;
  font-family: 'Dela Gothic One', cursive;
  font-size: large;
  padding-top: 4.5mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  
  background: linear-gradient(to left, #cc5333, #23074d); 
  border-width: 3mm;
  border-style: solid;
  border-radius: 10px ;
  border-color: white;
  position: relative;
  left: 55%;
  top: -26mm;
  
}
.buttons button.button2{
  color: aliceblue;
  font-family: 'Dela Gothic One', cursive;
  font-size: large;
  padding-top: 4.5mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);
  background: linear-gradient(to left, #cc5333, #23074d); 
  border-width: 3mm;
  border-style: solid;
  border-radius: 10px ;
  border-color: white;
  position: relative;
  left: 57%;
  top: -26mm;
}
.buttons button.button3{
  color: aliceblue;
  font-family: 'Dela Gothic One', cursive;
  font-size: large;
  padding-top: 4.5mm;
  padding-bottom: 4.5mm;
  padding-left: 10mm;
  padding-right: 10mm;
  background: #23074d;  
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  
  background: linear-gradient(to left, #cc5333, #23074d); 
  border-width: 3mm;
  border-style: solid;
  border-radius: 10px ;
  border-color: white;
  position: relative;
  left: 59%;
  top: -26mm;
}
*/

a.link{
  position: relative;
  color: transparent;
}

.velkomst{
  width: 100%;
  height: 100%;
}

.createLobby, .backToHomepage {
  color: white;
  font-size: large;
  padding: 1cm 2cm;
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: white;
  border-width: 3mm;
  border-style: solid;
  border-radius: 5mm;
  position: absolute;
  top: 50%; 
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
}  

.createLobby:hover,
.createLobby:focus
.backToHomepage:hover,
.backToHomepage:focus {
    box-shadow: 0.5em 0.5em 0.5em -0.4em #ffffff;
}

.section_container {
  margin: 0px, 0px, 60px, 60px;
}

.title {
  margin-top: 40px;
  padding: 0px;
  background: transparent;
  color: #fff;
  font-weight: bolder;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.Underline_text {
  color:#fff;
  font-size: 30px;
  margin-top: 10px;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

/* Services Section */
.services {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200%;
  padding: 5px;

}

.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #87d0fa 0%, #f1fcfd 100%);
  background-size: 50%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  background-clip: border-box;  /*This line removes 4 erroes*/
}

.services h2 {
  top: 30px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  top: 0rem;
  bottom: 9rem;
  justify-content: space-evenly;
}

.services__card {
  margin: 30px;
  height: 425px;
  width: 420px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.4s ease-in;
}

/*
.services__card:nth-child(2) {
  background: #1fa2ff;  
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); 
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); 
}
.services__card:nth-child(3) {
  background-image: linear-gradient(
    180deg,
    #f5faf4 0%,
    #107a6c 29%,
    #1379ff 67%,
    #3700ff 100%
  );
}
*/
.services__card h2 {
  text-align: center;
  position: relative;
  bottom: 120px;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1950px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  
}
@media screen and (max-height: 1200px) {
  .footer{
    font-size: 10px;
  }
}

@media screen and (max-width:900px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
  .footer{
    font-size: 10px;
  }
  
}

.footer {
  font-family: 'Dela Gothic One', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
  background: linear-gradient(to right, #2c3e50, #bdc3c7); 
  color: white;
  text-align: center;
}

#settingstab {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.optionDiv {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}

#testerino {
  background-color: rgb(129, 224, 224);
  padding: 1rem 9rem 2rem 9rem;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 40%; 
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: .5rem;
  border-radius: 1rem;
}

#userAppearanceConfig {
  background-color:#326181;
  border: solid 1px black;
  border-radius: 1rem;
  text-align: center;
  font-weight: normal;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  width: 400px;
}

.usernameHeader, .Settingh {
  border: none;
  margin: 0;
  color: white;
  -webkit-text-stroke-width: 0px;
  font-size: 20px;
  text-decoration: underline;
}

.Settingh {
  align-self: center;
  font-size: 25px;
  width: 50%;

}

#usernameSet {
  margin-top: 3px;
}

#videos {
  height: fit-content;
  margin: 10px;
}

#video-grid, #videoPlacement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

video {
  outline-style: solid;
  outline-color: rgb(129, 224, 193);
  outline-width: thick;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.avatar {
  outline-style: solid;
  outline-color: rgb(129, 224, 193);
  outline-width: thick;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 8px;
}

.games__and__rounds {
  font-size: 17px;
}

.gameselect{
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.roundselect{
  padding: 8px 12px;
  font-size: 20px;
  color: #333333;
  border-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  right: -60%;
  top: -4.5rem;
}

.customPromptContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  color: white;
}

.customPromptContainer h3 {
  text-decoration: underline;
}

.checkboxDiv {
  margin-top: 10px;
}

.inputDiv {
  display: flex;
  justify-content: center;
}

#customprompttext {
  margin: 5px;
  width: 50%;
}

#customPromptList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  font-weight: normal;
}

.customPromtListText {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.deleteBtn {
  text-align: center;
  margin: 0 0 0 5px;
  height: 1.5em;
  width: 1.5em;
  font-family: Arial, Verdana;   
  background: #f0f0f0 url(https://www.logolynx.com/images/logolynx/ab/abb9ce94099701e3a9b62d2d0700f193.png);
  background-size: 8px 8px;
  background-position: center;
  background-repeat: no-repeat; 
  border: none;
  border-radius: 100%;
}

.deleteBtn:hover {
  cursor: pointer;
  height: 1.6em;
  width: 1.6em;
}

#startGame, #copyURL, #setUsername, #nexttext, #addPrompt {
  background-color: #4da8da;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#startGame:hover, #copyURL:hover, #setUsername:hover, #nexttext:hover, #addPrompt:hover {
  background-color: rgb(0, 204, 255);
  box-shadow: 2px 2px rgb(0, 0, 0);
  transform: translateY(-2%);
}

#startGame, #backToFrontpage {
  margin: auto;
  margin-top: 50px;
  padding: 25px 40px 25px 40px;
  border: solid 3px black;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#startGame {
  align-self: center;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
}

.url-div {
  margin: auto;
  background-color: #326181;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.url-div h2 {
  border: none;
  margin: 0;
  color: white;
  -webkit-text-stroke-width: 0px;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 3px;
} 

.urlLabel {

}

.Rule_list {
border-top: 2px;
border-top-style: solid;
margin-top: 50px;
padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px;
height: 425px;
overflow: auto;
}

.contentSection {
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin-top: 5%;
}

#lobbyContainer {
  background-color:#326181;
  border: solid 1px black;
  border-radius: 5px;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 80%;
}

.lobbyContent {
  width: 50%;
  padding: 5px;
}

.lobbyContent:first-of-type {
  border-right: solid 1px black;
}

.Container {
  background-color: rgba(0, 0, 0, 0.199);
  margin: auto;
  border: solid 2px white;

}

.contentContainer {
  display: flex;
  justify-content: space-between;
  /*border: solid 1px white;*/
  height: fit-content;
}

.chatContainer {
  height: fit-content;
  width: 20%;
  border: solid 2px white;
}

.promtContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  transform: translateX(-30%);
  background: linear-gradient(to bottom, rgb(129, 224, 224), rgb(129, 150, 224));
}

#videoContainer {
  display: flex;
  justify-content: space-between;
}

#votes {
  margin: 0 0 5% 0;
  color: white;
}

#neverText {
  font-size: 30px;
  color: white;
  height: 60px;
}

.textbutton {
  margin: auto;
  margin-top: 40px;
  padding: 15px;
  font-size: 20px;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
  background-color: #efefef;
}

#iHave:hover {
  background-color: rgb(9, 255, 0);
  box-shadow: 2px 2px rgb(0, 0, 0);
  transform: translateY(-2%);
}

#iHaveNever:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 2px 2px rgb(0, 0, 0);
  transform: translateY(-2%);
}

#nextText {
  background-color: #efefef4d;
  margin-top: 0;
  margin-bottom: 0;
}

.promt {
  margin-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
  align-self: center;
  width: 100%;
  border-bottom: solid 2px white;
}

#usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: solid 2px rgb(255, 255, 255);
  border-right: solid 2px rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 255, 255);
}

.usernameText {
  color: rgb(255, 255, 255);
  font-size: 25px;
  /*border: solid 1px white;*/
}

#quitGame {
  left: 82%;
  position: fixed;
}

.chat {
  background-color: rgb(129, 224, 224);
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom, rgb(129, 224, 224), rgb(129, 150, 224));
}

#chatSystem {
  text-align: center;
  background: linear-gradient(to bottom, hsl(204, 100%, 73%), rgb(115, 175, 255));
  border-bottom: 2px solid white;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 420px;
  overflow: auto;
}

.newMessage {
  padding: 5px 5px 5px 5px;
  margin: 5px 20px 5px 5px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  background-size: auto;
  border-radius: 5px;
}

.newMessageDiv {
  display: flex;
}

#textMessage {
  justify-self: end;
}

#sendBTN {
  border: none;
}

#sendBTN:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.541);
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

.round-time-bar {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 12px;
  animation: roundtime calc(var(--duration) *1s) steps(var(--duration)) forwards;
  background: green;
  background: linear-gradient(to bottom, rgb(0, 255, 0), rgb(0, 153, 0));
  /*background: linear-gradient(to left, rgb(0, 255, 0), rgb(255, 0, 0));*/
  transform-origin: left center;
}

.round-time-bar[data-style="smooth"] {
  animation: roundtime calc(var(--duration) *1s) linear forwards;
}

#userNamePara {
  /* HER SKER DER STYLING AF USERNAMES! */
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
}

#sipText {
  width: 100%;
  color: white;
  font-size: 40px;
  padding: 4%;
}

p#diceRoll{
  color: #fff;
  font-size: 50px;
  padding-bottom: 18px;
  width: 90%;
  position: relative;
  text-align: center;
  margin: auto;
}

div.main{
  align-items: center;
  width: 51%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: linear-gradient(to bottom, rgb(129, 224, 224), rgb(129, 150, 224));
  border: solid 2px white;
  
}

#logBox{
  width: 18%;
  height: 200px;
  list-style-type: none;
  background: linear-gradient(to bottom, rgb(129, 224, 224), rgb(129, 150, 224));  
  color: white;
  border: solid 2px white;
}

.logBoxTag{
  color: white;
  border: solid 2px white;

}
 
#listElement{
  list-style-type: none;
}

h2.meyer{
  position: relative;
  top: -75px;
}

.Meyerbuttons{
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 18px;
  height: 47px;
  text-align: center;
  border: solid 2px white;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.dice{
  color: black;
  width: 50px;
  height: 47px;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 28%;

}

.dice:focus, .dice:hover{
  outline: none;
  border: 1px solid rgb(44, 199, 238);
}

.dice option{
  background: white;
}

div.clickersMeyer{
  background-color: transparent; 
}

#rollBtn {
  position: relative;
  top: 21px; 
  left: 46%;
  transform: translate(0, -50%);
}

#trueBtn{
  position: relative;
  left: 28%;
}

#lieBtn{
  position: relative;
  left: 28%;
}

#deroverBtn{
  position: relative;
  left: 28%;
}

.chatContainerMeyer {
  height: fit-content;
  width: 20%;
  border: solid 2px white;
}

.meyerContainer {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#meyerSettings {
  display: none;
}